{% extends 'layout.tpl' %}

{% block title %}Generovať rozpis | {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Nová sezóna</h1>
            </div>
        </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-success">Sezóna bola uložená !</div>
      </div>
    </div>
    
  
    

</div>
{% endblock %}
